* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

:root {
  --text-color-grey: #777e91;
  --text-color-greyish: #b1b5c4;
  --text-color-white: white;
  --text-color-blue: #3b71fe;
  --color-line: #e6e8ec;
}

.heading {
  display: flex;
  box-shadow: 0px 6px 30px rgba(15, 15, 15, 0.06);
  align-items: center;
  height: 97px;
  width: 100%;
}

.logo {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.booking {
  margin: 0 auto;
  display: flex;
  gap: 10px;
  padding: 10px 12px;
  border: 1px solid #f4f5f6;
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
  align-items: center;
}

.booking li {
  padding-right: 10px;
  border-right: thin solid var(--color-line);
  list-style-type: none;
  font-weight: 500;
  font-size: 15px;
  color: var(--text-color-grey);
}

.name-tittle {
  font-weight: 700;
  font-size: 20px;
}

.icon-logo {
  margin-right: 15px;
}

.avatar {
  border-radius: 19px;
}

.icon-bell {
  width: 24px;
  height: 24px;
}

.right {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.avatar {
  margin-left: 15px;
}
.block-Notification {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 15px;
  border-right: thin solid var(--color-rapid);
  color: var(--text-color-grey);
  font-weight: 700;
  font-size: 14px;
}

.body-banner {
  width: 1029px;
  margin-inline: auto;
}

.head-banner {
  display: flex;
  justify-content: space-between;
}

.head-banner {
  font-size: 30px;
}

.head-banner {
  border-bottom: 0.5px solid var(--color-line);
  align-items: center;
  padding-bottom: 10px;
}

.plan {
  color: var(--text-color-blue);
  font-weight: 500;
  font-size: 14px;
  padding: 10px 30px;
  background: #ebf1ff;
  border-radius: 20px;
}

.content-banner {
  display: flex;
  padding-top: 15px;
}

.content-banner {
  border-radius: 20px;
}

.body-banner {
  background: #ffffff;
  box-shadow: 0px 10px 130px rgba(59, 59, 59, 0.08);
  border-radius: 20px;
  padding: 28px 30px;
}

.picture {
  margin-right: 28px;
  border-radius: 20px;
}

.tittle-bangkok {
  font-size: 32px;
  margin-bottom: 12px;
}

.text-author {
  font-weight: 400;
  font-size: 17px;
  color: var(--text-color-grey);
  margin-bottom: 24px;
}

.to-do-list ul {
  list-style-type: none;
  gap: 5px;
  display: flex;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color-grey);
  margin-bottom: 28px;
}

.to-do-list li:not(:first-child)::before {
  content: "•";
  font-size: 10px;
  margin-right: 5px;
}

.icon-bed {
  padding: 12px;
  background-color: white;
  border-radius: 6px;
  margin-right: 20px;
}

.find-place {
  display: flex;
  align-items: center;
  background-color: #3b71fe;
  padding: 16px 12px;
  border-radius: 10px;
}

.block-content-place {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-white);
}

.date {
  background-color: white;
  padding: 4px 7px;
  border-radius: 5px;
  margin-left: auto;
  font-size: 16px;
  color: var(--text-color-blue);
}

.link-find-places {
  font-style: italic;
  font-weight: 600;
  color: var(--text-color-white);
}

.list-tour-highlights {
  display: flex;
  gap: 30px;
}

.tour-highlight {
  padding: 17px 18px;
  box-shadow: 0px 10px 110px 1px rgba(59, 59, 59, 0.08);
  border-radius: 10px;
  background-color: white;
}

.picture-tour {
  border-radius: 12px;
  margin-bottom: 16px;
}

.content-tour {
  margin-bottom: 6px;
  font-size: 20px;
}

.reviews {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 5px;
}

.block-head-highlight {
  margin: 0 auto;
}

.block-highlights {
  margin-top: 30px;
}

.block-destinations {
  position: relative;
  display: inline-block;
}

.content-destination {
  position: absolute;
  bottom: 7%;
  left: 7%;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.list-tour-destinations {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.picture-destination {
  border-radius: 15px;
}

.block-button-plan {
  margin: 0 auto;
  gap: 70px;
}

.reviews-destination {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  gap: 4px;
}

.block-head-add-destinations {
  margin: 0 auto;
}

.button-click {
  padding: 13px 38px;
  background-color: #3b71fe;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  gap: 152px;
}

.block-logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  gap: 15px;
}
.content {
  width: 26%;
}

.footer {
  margin: 0 auto 40px;
}

.footer-content {
  width: 1100px;
  padding-bottom: 70px;
  border-bottom: 0.5px solid var(--color-line);
}

.content-footer {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-grey);
  margin: 40px 0 30px 0;
}

.enter-email {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 26px;
  border-radius: 24px;
  border: 2px solid #e6e8ec;
  color: #b1b5c4;
  gap: 35%;
}

.logo-send-email {
  padding: 10px 8px;
  background: #3b71fe;
  border-radius: 50%;
}

.services,
.support,
.business {
  display: block;
  font-size: 24px;
}

.list-services,
.list-support,
.list-business {
  color: var(--text-color-grey);
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  list-style: none;
}

.copyright {
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 40px;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color-greyish);
}

.list-icon-footer {
  display: flex;
  position:absolute;
  align-items: center;
  margin-left: calc(100% - (16px * 8));
  gap: 16px;
}
