doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LangBach
        link(rel="stylesheet", href="./style-done-login.css")
    body
        .location-information-form
            .infomation
                    h1.heading Create Trip
                    .location Location
                        .name-city City name
                    .check-time
                        .check-in Check in
                            .star-date Start Date
                        .check-out Check out
                            .end-date End Date
                    a.create-trip(href = "./create-trip/create-trip.html") Create Trip
            img.image(src="./image/photo.png")