doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LangBach
        link(rel="stylesheet", href="./style-forget-password.css")
    body
        .form-forget-password 
            .heading-form 
                h1.heading Forget Password
                .content-heading Please Select option to send link reset password
            .select-change-password
                .suggest-email
                    img.icon-email(src='./image/email.png')
                    .email Reset via Email
                        .content-email Link reset will be send to your email address registered
                .suggest-SMS
                    img.icon-phone(src='./image/phone.png')
                    .SMS Reset via SMS
                        .content-SMS Link reset will be send to your email address registered
            .send-password Send Password