include ./mixin.pug

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title LangBach
  link(rel='stylesheet', href='create-trip.css')
body
  header.heading
    .logo
      img.icon-logo(src='./image/logo.png')
      .name-tittle Airtrav
    ul.booking
      li.name-tour Bangkok Thailnad
      li.time Sep 26-30
      li.guest-number 2 guest
      img.icon(src='./image/search.png')
    .right
      .block-Notification
        .Money USD
        .Frequently-Asked-Questions FAQ
        img.icon-bell(src='./image/bell.png')
      img.avatar(src='./image/avatar.png')
  .body-banner
    .block-banner
      .head-banner
        h3 Bangkok- 3 nights
        .plan See day by day plan
      .content-banner
        img.picture(src='./image/picture.png', alt='')
        .content-author
          h3.tittle-bangkok City of Angels
          p.text-author Enjoy cultural, historical, and culinary exploration during your holiday in Bangkok, the capital of Thailand and the most populous city in the country. Bangkok is known for shopping, historic sites,
          .to-do-list
            h2 Things to do in Bangkok
            ul
              li Shoppings
              li NeighborHood
              li Historic Sitesd
              li Parks
          .find-place
            img.icon-bed(src = "./image/bed.png")
            .block-content-place
              p Find places to stay 
              a.link-find-places(href = "") Find places to stay
              |  with best proximity to your trip
            .date Sep 27 - 30
  .block-head-highlight
    h2 Highlights from your trip
    .block-highlights
      .list-tour-highlights
        +tour-highlight("./image/picture-1.png", "The Grand Palace", 4.8, 12)
        +tour-highlight("./image/picture-2.png", "Chatuchak Weekend Market", 4.8, 12)
        +tour-highlight("./image/picture-3.png", "Wat Pho", 4.8, 12)
  .block-head-add-destinations
    h2 Add more destinations to your trip
    .list-tour-destinations
      +add-destinations("./image/picture-5.png", "Koh Tao", 4.9, 122)
      +add-destinations("./image/picture-6.png", "Chiang mai", 3.5, 112)
      +add-destinations("./image/picture-7.png", "Patong", 5.0, 599)
      +add-destinations("./image/picture-8.png", "Krabi Town", 4.2, 120)
  h2.button-click See day by day plan
  .footer
    .footer-content
      .content
        .block-logo
          img.logo-footer(src="./image/logo.png")
          p Airtrav
        .content-footer Similarly, a loan taken out to buy a car may be secured by the car. The duration of the loan.
        .enter-email
          .content-send-email Enter your email
          img.logo-send-email(src="./image/vector-right.png") 
      .services Services
        ul.list-services 
          li Trip Planner
          li Tour Planning
          li Tour Guide
          li Tour Package
          li Tour advice
      .support Support
        ul.list-support 
          li Account
          li Legal
          li Contact
          li Terms & Condition
          li Privacy Policy
      .business Business
        ul.list-business 
          li Success
          li About Locato
          li Blog
          li Information
          li Travel Guide
    .copyright Copyright© 2021 UIHUT LLC. All rights reserved
      .list-icon-footer
        a(href="https://www.facebook.com/lang.bach.96343/")
          img.icon-facebook(src="./image/line.png")
        a(href="https://www.linkedin.com/")
          img.icon-linkedin(src="./image/linkedin.png")
        a(href="https://twitter.com/?lang=vi")
          img.icon-bird(src="./image/bird-icon.png")
        a(href="https://www.instagram.com/langbach112/")
          img.icon-instagram(src="./image/instagram.png")